.one-base-two {
  font-size: 2.666em;
}
.one-base-three {
  font-size: 3.999em;
}
.one-double-value {
  font-size: 1.125562711em;
}
.one-golden-ratio {
  font-size: 1.618em;
}

.two-base-one {
  font-size: 1.776889em;
}
.two-double-value {
  font-size: 3.553778em;
}
